body {
  background: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
}

.container {
  width: 600px;
  margin: 80px 40px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: black;
  background: rgba(0,0,0,0.4);
  padding: 30px;
}

.contacts {
  padding-top: 40px;
}

h1 {
  font-family: 'Rokkitt', serif;
  font-size: 80px;
  margin-bottom: -30px;
}

h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 25px;
  margin-bottom: 40px;
 }

a {
  color: #BFE35B;
  text-decoration: none;
}