body {
  background: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.container {
  width: 600px;
  background: black;
}